## Loading Data

In [15]:
import pandas as pd
import numpy as np

In [14]:
features_df = pd.read_csv("../data/training_set_features.csv")
labels_df = pd.read_csv("../data/training_set_labels.csv")
features_df.set_index("respondent_id", inplace=True)
labels_df.set_index("respondent_id", inplace=True)

In [13]:
print("features_df.shape", features_df.shape)
features_df.head()

features_df.shape (26707, 35)

,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_h1n1,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
respondent_id,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb

In [16]:
print("labels_df.shape", labels_df.shape)
labels_df.head()

labels_df.shape (26707, 2)

               h1n1_vaccine  seasonal_vaccine
respondent_id
0                         0                 0
1                         0                 1
2                         0                 0
3                         0                 1
4                         0                 0

In [17]:
#to double-check that the rows between the features and the labels match up, will error if the row indices of the two data frames don't match up
np.testing.assert_array_equal(features_df.index.values, labels_df.index.values)

## Exploratory Data Analysis (EDA)